<!DOCTYPE html>
<html lang="en">
<head>

    @{
        

    }
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124244660-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124244660-1');
    </script>

    <script src="~/vendors/jquery/dist/jquery.min.js">   </script>
   
    <script>
        if ("@Session["userid"]" == "") window.location = "/Account/PartnerAccount";
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <meta name="description" content="Online HUB for exam practise and preparation in Nigeria. Practice free UTME,WAEC,A-LEVEL Past questions.">
    <meta name="keywords" content="Free Jamb past questions, free UTME pratice questions, UTME, JAMB,WAEC, NECO, A-LEVEL, ICAN, practice utme online, practice waec online, best UTME exam preparation center ">
    <meta name="author" content="mcadware Solutions Limited">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/Images/ExamSpur_Im/favicon_46x46.png" type="image/png" />
    <title>@ViewBag.Title ExamSpur</title>
    <!-- Bootstrap -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">*@
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="~/fonts/fa-svg-with-js.css" rel="stylesheet" />

    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
    <!-- bootstrap-progressbar -->
    <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <!-- JQVMap -->
    <link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/vendors/pnotify/dist/pnotify.css" rel="stylesheet" />
    <link href="~/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet" />
    <link href="~/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet" />
    <link href="~/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css?5556655" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        h1, h2, h3, h4, h5, h6, p, li {
            font-family: 'ABeeZee', sans-serif;
        }
    </style>

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col  menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="~/" class="site_title"><i class="fa fa-book"></i> <span style="font-family: 'Dancing Script', cursive;font-size:24px;">ExamSpur</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Images/profileicon.png" alt="..." class="img-circle profile_img" />
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2 style="color:#000000">@Session["firstname"]</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">

                                    
                                <li>
                                        <a href="/Index/PartnerDashboard"><i class="fa fa-home"></i>Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="/Account/ChangePasswordPartner"><i class="fa fa-lock"></i>ChangePassword</a>
                                    </li>


                                    
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Images/profileicon.png" alt="" />@Session["firstname"]
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="#myModalProfile" data-toggle="modal"> Profile</a></li>
                                    <li><a href="javascript:;" id="btnlogout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->


            <div class="right_col" role="main">

                @RenderBody()

                <!-- footer content -->
                <!-- /footer content -->
            </div>
            <footer class="container-fluid">
                <div class="pull-right">
                    Copyright &copy; @DateTime.Now.Year All rights reserved | <a href="https://mcadwaresolutions.com" target="_blank"><span style="color:#7a1310">mc</span><span style="color:#ff7d01">Adware</span> <span style="color:#8492a5">Solutions</span></a>
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>
    @*<script>
                if ("@Session["firstname"]" == "") window.location = "@Url.Action("Login","Account")";

        </script>*@
    <!-- jQuery -->
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>*@
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <!-- gauge.js -->
    <!-- bootstrap-progressbar -->
    <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/vendors/Flot/jquery.flot.js"></script>
    <script src="~/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/vendors/pnotify/dist/pnotify.js"></script>
    <script src="~/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="~/vendors/pnotify/dist/pnotify.nonblock.js"></script>
    <script src="../vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/build/js/custom.js?v=12334945556"></script>
    <script>

        $("#btnlogout").click(function () {
            var obj = {};
            var usertype = "@Session["UserType"]";
            var jsonData = JSON.stringify(obj);
            $.ajax({
                type: 'POST',
                contentType: 'application/json charset=utf-8',
                url: '/Account/logout',
                data: jsonData,
                dataType: 'json',
                success: function (response) {
                    if (response.value == 1) {
                        if (usertype == "2") window.location = "/Home/Merchant";
                        else window.location = "/Home/Partner";
                    }
                }, error: function (error) { }
            });
        })
    </script>
</body>

</html>