<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124244660-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124244660-1');
    </script>

    <meta charset="UTF-8">
    <meta name="description" content="Online HUB for exam practise and preparation in Nigeria. Practice free UTME,WAEC,A-LEVEL Past questions.">
    <meta name="keywords" content="Free Jamb past questions, free UTME pratice questions, UTME, JAMB,WAEC, NECO, A-LEVEL, ICAN, practice utme online, practice waec online, best UTME exam preparation center ">
    <meta name="author" content="mcadware Solutions Limited">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Images/ExamSpur_Im/favicon.png" type="image/png" />
    @*<title>ExamSpur - Online Exam Preparation Hub </title>*@
    <link rel="pingback" href="xmlrpc.php">

    <title>ExamSpur - Online mock examination </title>
    <link rel="alternate" type="text/calendar" title="ExamSpur - Online Mock" href="" />
    <link rel="alternate" type="application/rss+xml" title="ExamSpur - Online Mock" href="" />
    <link rel="alternate" type="text/calendar" title="ExamSpur - Online Mock" href="" />
    <link rel="alternate" type="application/rss+xml" title="ExamSpur - Online Mock" href="" />
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <link rel='stylesheet' id='lp-course-wishlist-style-css' href='/wp-content/plugins/learnpress-wishlist/assets/css/wishlist1845.css' type='text/css' media='all' />
    <link rel='stylesheet' id='icomoons-css' href='/wp-content/themes/taalem/css/icomoon.min8a54.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bbp-default-css' href='/wp-content/plugins/bbpress/templates/default/css/bbpress01c4.css' type='text/css' media='screen' />
    <link rel='stylesheet' id='contact-form-7-css' href='/wp-content/plugins/contact-form-7/includes/css/stylesce52.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='/wp-content/plugins/revslider/public/assets/css/settings03e2.css' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='woocommerce-general-css' href='~/wp-content/plugins/woocommerce/assets/css/woocommerce46df.css' type='text/css' media='all' />
    <link rel='stylesheet' id='wsl-widget-css' href='/wp-content/plugins/wordpress-social-login/assets/css/style1845.css' type='text/css' media='all' />
    <link rel='stylesheet' id='taalem-fonts-css' href='https://fonts.googleapis.com/css?family=Poppins%3A400%2C600%2C500%2C300%2C700%7COswald%3A400%2C500%2C600%2C700&amp;subset=latin%2Clatin-ext&amp;ver=20170821' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='/wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/font-awesome.min5243.css' type='text/css' media='all' />
    <link rel='stylesheet' id='icomoon-css' href='/wp-content/themes/taalem/css/icomoon.min8a54.css' type='text/css' media='all' />
    <link rel='stylesheet' id='linearicons-css' href='/wp-content/themes/taalem/css/linearicons.min8a54.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='/wp-content/themes/taalem/css/bootstrap.min7433.css' type='text/css' media='all' />
    <link rel='stylesheet' id='taalem-css' href='/wp-content/themes/taalem/styled172.css?14424' type='text/css' media='all' />
    <style id='taalem-inline-css' type='text/css'>
        .topbar {
            background-color: #D42A2A;
        }

        .footer-layout.footer-layout-1 {
            background-image: url('../ExamSpur_Img/Slide-7.jpg') !important;
        }

        body {
            font-weight: 400;
        }

        .site-header .primary-nav ul li .dropdown-submenu a {
            font-weight: 400;
        }
    </style>
    <link rel='stylesheet' id='photoswipe-css' href='/wp-content/plugins/woocommerce/assets/css/photoswipe/photoswipe46df.css' type='text/css' media='all' />
    <link rel='stylesheet' id='photoswipe-default-skin-css' href='~/wp-content/plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin46df.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='/wp-content/plugins/js_composer/assets/css/js_composer.min5243.css' type='text/css' media='all' />
    <link rel='stylesheet' id='taalem-style-switcher-css' href='/wp-content/plugins/taalem-style-switcher/style1845.css' type='text/css' media='all' />
    <link rel='stylesheet' id='learn-press-css' href='/wp-content/plugins/learnpress/assets/css/learnpress8571.css' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-scrollbar-css' href='/wp-content/plugins/learnpress/assets/js/vendor/jquery-scrollbar/jquery.scrollbar8571.css' type='text/css' media='all' />
    <script type='text/javascript' src='/wp-includes/js/jquery/jqueryb8ff.js'></script>
    <script type='text/javascript'>
        var userSettings = {
            "url": "\/",
            "uid": "0",
            "time": "1529597672",
            "secure": ""
        };
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5b6c8098f31d0f771d83a80e/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <link rel='//api.w.org/' href='~/wp-json/Home/Index' />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.6" />
    <meta name="generator" content="WooCommerce 3.3.5" />
    <link rel="canonical" href="" />
    <link rel='shortlink' href='Home/Index' />
    <link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed97de.json" />
    <link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed5956" />
    <meta name="tec-api-version" content="v1">
    <meta name="tec-api-origin" content="">
    <link rel="author" href="~/wp-json/tribe/events/v1/Home/Index" />
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
    <meta name="generator" content="Powered by Slider Revolution 5.4.6 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                var i = jQuery(window).width(),
                    t = 9999,
                    r = 0,
                    n = 0,
                    l = 0,
                    f = 0,
                    s = 0,
                    h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) {
                    f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function (e, i) {
                            u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                        }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({
                    height: f
                })
            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        };
    </script>
    <style type="text/css" id="wp-custom-css">
        /*
        You can add your own CSS here.

        Click the help icon above to learn more.
        */

        .footer-layout-1 .footer-contact-info {
            color: #bababa;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 3px;
        }

        .tl-pricing .pricing-box .pricing-info .p-money .p-price {
            font-size: 25px !important;
            font-weight: 700;
            float: left;
            line-height: 1;
            position: relative;
        }

        .footer-layout-1 .footer-contact-info i {
            color: #D42A2A;
            padding-right: 10px;
        }
    </style>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1506753519413 {
            background-color: #D42A2A !important;
        }

        .vc_custom_1506753823830 {
            background-image: url('../../Images/ExamSpur_Im/calculator-scientific.jpg') !important;
        }

        .vc_custom_1506583680033 {
            padding-top: 55px !important;
            padding-bottom: 35px !important;
        }

        .vc_custom_1504940970457 {
            padding-bottom: 55px !important;
        }

        .vc_custom_1506494495909 {
            margin-top: -40px !important;
        }
    </style>
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
</head>
<body class="home page-template page-template-template-homepage page-template-template-homepage-php page page-id-1064 tribe-no-js sticky-header has-topbar header-layout-1 wpb-js-composer js-comp-ver-5.4.5 vc_responsive">
    <div id="page" class="hfeed site">
        <div id="taalem-before-unloader" class="taalem-before-unloader"></div><span class="loading-icon">
            <span class="bubble"> <span class="dot"></span> </span> <span class="bubble"> <span class="dot"></span> </span> <span class="bubble"> <span class="dot"></span> </span>
        </span>
    </div>
    <div id="header-sticky-sep" class="header-sticky-sep"></div>
    <header id="masthead" class="site-header">
        <div id="topbar" class="topbar text-light columns-2">
            <div class="container">
                <div class="topbar-content">
                    <div class="topbar-widget topbar-1">
                        <div id="custom_html-2" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget"><i class="fa fa-envelope"></i> <a href="emailto:info@examspur.com">info@examspur.com</a></div>
                        </div>
                        <div id="custom_html-3" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget"><i class="fa fa-phone"></i> <span>Hotline   234 (0) 806 3370 631</span></div>
                        </div>
                    </div>
                    <div class="topbar-widget topbar-2">
                        <div id="tl_account_widget-2" class="widget tl-account-widget tl-account-modal">
                            <ul id="nav">
                            </ul>
                        </div>
                        @*<div id="social-links-widget-2" class="widget social-links-widget social-links">
                                <div class="social-links-list"><a href="https://facebook.com/mcadwaresolutions" class="share-facebook tooltip-enable social" rel="nofollow" title="Facebook" data-toggle="tooltip" data-placement="top" target="_blank"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/examspur" class="share-twitter tooltip-enable social" rel="nofollow" title="Twitter" data-toggle="tooltip" data-placement="top" target="_blank"><i class="fa fa-twitter"></i></a><a href="https://instagram.com/examspur" class="share-youtube tooltip-enable social" rel="nofollow" title="Instagram" data-toggle="tooltip" data-placement="top" target="_blank"><i class="fa fa-instagram"></i></a></div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="header-main">
            <div class="container">
                <div class="row menu-row">
                    <div class="menu-logo col-lg-2 col-md-9 col-sm-9 col-xs-9">
                        <div class="logo">
                            <a href="~/"><img alt="ExamSpur" src="~/ExamSpur_Img/logo.jpg" /></a>
                        </div>
                        <h1 class="site-title"><a href="/Home/Index" rel="home">ExamSpur</a></h1>
                        <h2 class="site-description">A Hub for preparing for major exams real time.</h2>
                    </div>
                    <div class="primary-nav nav col-lg-10 hidden-md hidden-sm hidden-xs">
                        <ul id="menu-primary-menu" class="menu">
                            <li id="menu-item-9740" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1064 current_page_item current-menu-ancestor current_page_ancestor menu-item-9740 active"><a href="/Home/Index">Home</a></li>
                            @*<li id="menu-item-9820" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-about"><a href="/Home/About">About</a></li>*@
                            <li id="menu-item-10829" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10829"><a href="/Account/MerchantAccount">Schools</a></li>
                            <li id="menu-item-10503" class="menu-item menu-item-type-post_type menu-item-object-page dropdown hasmenu menu-item-trial">
                                <a href="javascript:void()">
                                    Exam Trial
                                </a>
                                <ul class="dropdown-submenu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/Home/UTMETrial">UTME Trial</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/Home/WAECTrial">WAEC Trial</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    @*<a class="button btn-shadow btn-md btn-secondary pull-right hidden-md hidden-sm hidden-xs" href="" title="Get Started">GET STARTED</a>
                        <a class="button btn-shadow btn-md btn-secondary pull-right hidden-lg hidden-xlg" href="" title="Get Started"><i class="fa fa-sign-in"></i></a>*@
                    <div class="navbar-toggle col-md-3 col-sm-3 col-xs-3"> <span id="un-navbar-toggle" class="t-icon lin-icon-menu"> </span></div>
                </div>
            </div>
        </div>
    </header>
    <!--Header-->
    <!--Render Body-->
    @RenderBody()

    <!--Render Body-->
    <!--Footer Area-->
    <div>
        <footer id="site-footer" class="site-footer">
            <nav class="footer-layout footer-layout-1 has-image">
                <div class="footer-content">
                    <div class="container">
                        <div class="footer-newsletter">
                            <div class="newsletter-content">OUR <strong>NEWSLETTER</strong></div>
                            <div class="newsletter-form">

                                <div id="mc4wp-form-1" class="mc4wp-form mc4wp-form-9438" method="post" data-id="9438" data-name="Newsletter">
                                    <div class="mc4wp-form-fields">
                                        <input type="text" name="name" placeholder="Your Name" required />
                                        <input type="email" name="EMAIL" placeholder="Your Email" required />
                                        <input type="button" value="Subscribe Now" class="main-color" />
                                    </div>
                                    <label style="display: none !important;">
                                        Leave this field empty if you're human:
                                        <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" />
                                    </label>
                                    <input type="hidden" name="_mc4wp_timestamp" value="1529597672" />
                                    <input type="hidden" name="_mc4wp_form_id" value="9438" />
                                    <input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                                    <div class="mc4wp-response"></div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-copyright">
                            © @DateTime.Now.Year - Team Dexter
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </nav>
        </footer>
    </div>

    <script>
        (function (body) {
            'use strict';
            body.className = body.className.replace(/\btribe-no-js\b/, 'tribe-js');
        })(document.body);
    </script>
    <div id="pswp" class="pswp" tabindex="-1" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"> </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"> </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="off-canvas-layer" class="taalem-off-canvas-layer"></div>
    <a id="scroll-top" class="backtotop" href="#page-top"> <i class="fa fa-angle-up"></i> </a>
    <div class="primary-mobile-nav" id="primary-mobile-nav">
        <div class="mobile-nav-content">
            <a href="#" class="close-canvas-mobile-panel"> <span class="mnav-icon lin-icon-cross2"> </span> </a>

            <ul id="menu-primary-menu-1" class="menu">
                <li id="menu-item-9740" class="menu-item menu-item-type-post_type menu-item-object-custom menu-item-home  menu-item-9740 "><a href="~/" class="dropdown-toggle">Home</a></li>
                <li id="menu-item-9820" class="menu-item menu-item-type-post_type menu-item-object-custom menu-item-about"><a href="/Home/About">About</a></li>
                <li id="menu-item-ert" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10829"><a href="/Account/StudentAccount">Student Login</a></li>
                <li id="menu-item-10829" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10829"><a href="/Home/Merchant">Colleges Login/Registration</a></li>

                <li id="menu-item-10829" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10829"><a href="/Home/Merchant">Tutorial Centers Login/Registration</a></li>
                <li id="menu-item-10829" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10829"><a href="/Home/Partner">Partners Login/Registration</a></li>

                <li id="menu-item-10503" class="menu-item menu-item-type-post_type menu-item-object-custom menu-item-contact"><a href="/Home/Contact">Contact</a></li>
                <li id="menu-item-9829" class="menu-item menu-item-type-post_type menu-item-object-custom menu-item-has-children menu-item-utmeTrial">
                    <a href="javascript:void()">
                        Exam Trial
                    </a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/Home/UTMETrial">UTME Trial</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/Home/WAECTrial">WAEC Trial</a></li>
                    </ul>
                </li>
                <li id="menu-item-9829" class="menu-item menu-item-type-post_type menu-item-object-custom menu-item-faq"><a href="/Home/FAQs">FAQs</a></li>
            </ul>
            <div class="mobile-nav-footer">
                <ul class="menu" id="nav2">
                </ul>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        var tribe_l10n_datatables = {
            "aria": {
                "sort_ascending": ": activate to sort column ascending",
                "sort_descending": ": activate to sort column descending"
            },
            "length_menu": "Show _MENU_ entries",
            "empty_table": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "info_empty": "Showing 0 to 0 of 0 entries",
            "info_filtered": "(filtered from _MAX_ total entries)",
            "zero_records": "No matching records found",
            "search": "Search:",
            "all_selected_text": "All items on this page were selected. ",
            "select_all_link": "Select all pages",
            "clear_selection": "Clear Selection.",
            "pagination": {
                "all": "All",
                "next": "Next",
                "previous": "Previous"
            },
            "select": {
                "rows": {
                    "0": "",
                    "_": ": Selected %d rows",
                    "1": ": Selected 1 row"
                }
            },
            "datepicker": {
                "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"],
                "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                "monthNamesShort": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                "nextText": "Next",
                "prevText": "Prev",
                "currentText": "Today",
                "closeText": "Done"
            }
        };
    </script>
    <script>
        (function () {
            function addEventListener(element, event, handler) {
                if (element.addEventListener) {
                    element.addEventListener(event, handler, false);
                } else if (element.attachEvent) {
                    element.attachEvent('on' + event, handler);
                }
            }

            function maybePrefixUrlField() {
                ////if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                ////    this.value = "https://" + this.value;
                ////}
            }

            var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
            if (urlFields && urlFields.length > 0) {
                for (var j = 0; j < urlFields.length; j++) {
                    addEventListener(urlFields[j], 'blur', maybePrefixUrlField);
                }
            } /* test if browser supports date fields */
            var testInput = document.createElement('input');
            testInput.setAttribute('type', 'date');
            if (testInput.type !== 'date') {

                /* add placeholder & pattern to all date fields */
                var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
                for (var i = 0; i < dateFields.length; i++) {
                    if (!dateFields[i].placeholder) {
                        dateFields[i].placeholder = 'YYYY-MM-DD';
                    }
                    if (!dateFields[i].pattern) {
                        dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
                    }
                }
            }

        })();
    </script>
    <!--Footer Area-->

    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
            errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>
    <script type='text/javascript'>
        var wpcf7 = {
            "apiSettings": {
                "root": "\/wp-json\/contact-form-7\/v1",
                "namespace": "contact-form-7\/v1"
            },
            "recaptcha": {
                "messages": {
                    "empty": "Please verify that you are not a robot."
                }
            },
            "cached": "1"
        };
    </script>
    <script type='text/javascript'>
        //var woocommerce_params = {
        //    "ajax_url": "\/wp-admin\/admin-ajax.php",
        //    "wc_ajax_url": "\/taalem\/?wc-ajax=%%endpoint%%"
        //};
    </script>
    <script type='text/javascript'>
        //var wc_cart_fragments_params = {
        //    "ajax_url": "\/wp-admin\/admin-ajax.php",
        //    "wc_ajax_url": "\/taalem\/?wc-ajax=%%endpoint%%",
        //    "cart_hash_key": "wc_cart_hash_cb4866157dee7800245c68c4a47c00e5",
        //    "fragment_name": "wc_fragments_cb4866157dee7800245c68c4a47c00e5"
        //};
    </script>
    <script type='text/javascript'>
        //var taalemData = {
        //    "ajax_url": "\/wp-admin\/admin-ajax.php",
        //    "nonce": "5f8fbbaa23",
        //    "days": "days",
        //    "hours": "hours",
        //    "minutes": "minutes",
        //    "seconds": "seconds",
        //    "sticky_header": "1",
        //    "header_transparent": "0"
        //};
    </script>
    @*<script type='text/javascript'>
            WebFont.load({
                google: {
                    families: ['Poppins:700,600,400:cyrillic,cyrillic-ext,devanagari,greek,greek-ext,khmer,latin,latin-ext,vietnamese,hebrew,arabic,bengali,gujarati,tamil,telugu,thai']
                }
            });
        </script>*@
    <script type='text/javascript'>
        var taalemShortCode = {
            "course": {
                "course-slider-5b2bcee8aed83": {
                    "nav": false,
                    "dot": false,
                    "autoplay": false,
                    "autoplay_speed": 800,
                    "autoplay_timeout": 4000,
                    "is_carousel": 0
                }
            },
            "tl_events": {
                "tl-events-slider-5b2bcee8c8e26": {
                    "columns": 2,
                    "nav": true,
                    "dot": false,
                    "autoplay": false,
                    "autoplay_speed": 800,
                    "autoplay_timeout": 4000
                }
            }
        };
    </script>
    <script type='text/javascript'>
        var mc4wp_forms_config = [];
    </script>
    <script type='text/javascript'>
        var lpGlobalSettings = {
            "url": null,
            "siteurl": "\/taalem",
            "ajax": "\/wp-admin\/admin-ajax.php",
            "theme": "taalem"
        };
    </script>
    <script type='text/javascript'>
        var lpCheckoutSettings = {
            "ajaxurl": "\/taalem",
            "user_waiting_payment": null,
            "user_checkout": "",
            "i18n_processing": "Processing",
            "i18n_redirecting": "Redirecting",
            "i18n_invalid_field": "Invalid field",
            "i18n_unknown_error": "Unknown error",
            "i18n_place_order": "Place order"
        };
    </script>
    <script type='text/javascript'>
        var lpProfileUserSettings = {
            "processing": "Processing",
            "redirecting": "Redirecting",
            "avatar_size": {
                "width": 300,
                "height": 300
            }
        };
    </script>
    <script type='text/javascript'>
        var lpCourseSettings = [""];
    </script>
    <script type='text/javascript'>
        var lpQuizSettings = [];
    </script>

    <script type="text/javascript" defer src="/wp-content/cache/autoptimize/30/js/autoptimize_a5269b252a0ca159c6145a403254e1e3.js"></script>


    <script>

          if ("@Session["userid"]" == null || "@Session["userid"]" == "") {
              $("#nav").html("<li>Admin: <a data-account=\"0\" class=\"\" href=\"/Account/AdminLog\">Login/Register</a></li>");
              $("#nav2").html("<li> Admin: <a href=\"/Account/AdminLog\">Login <i class=\"t-icon icon-user\"></i></a></li>")
          }
          else {
              if ("@Session["usertype"]" == "1") {
                  $("#nav,#nav2").html("<li> <a data-account=\"0\" class=\"\" href=\"/Index/AdminDashboard\"><i class=\"fa fa-arrow-left\"></i> Back to Dashboard</a></li>");


              }
              else if ("@Session["usertype"]" == "2") {
                  $("#nav,#nav2").html("<li> <a data-account=\"0\" class=\"\" href=\"/Index/Dashboard\"><i class=\"fa fa-arrow-left\"></i> Back to Dashboard</a></li>");


              }
              else {
                  $("#nav,#nav2").html("<li> <a data-account=\"0\" class=\"\" href=\"/Index/PartnerDashboard\"><i class=\"fa fa-arrow-left\"></i> Back to Dashboard</a></li>");
              }
          }

    </script>
</body>

</html>